body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/background.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Zabars';
    src: url('fonts/Zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

canvas {
    background-color: black;
    border: 5px solid rgba(18, 173, 31, 0.377);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    color: red;
    font-size: 128px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 50px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    position: relative; /* Ensures elements are positioned relative to the canvas */
    width: 720px;  /* Matches canvas width */
    height: 480px; /* Matches canvas height */
}

#canvas {
    display: block;
}

.start {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100px;
    margin: 0;
}

.start:hover {
    cursor: pointer;
    height: 105px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 60;
    width: 200px;
}

.icons img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.1);
}

.popup {
    display: none; /* Popup ist standardmäßig versteckt */
    position: absolute;
    height: 480px;
    width: 720px;
    z-index: 10;


    img {
        height: 100%;
        width: 100%;
    }
}

.popup h2 {
    margin-top: 0;
}

.game-over {
    position: absolute;
    height: 480px;
    width: 720px;
    img {

        height: 490px;
        width: 730px;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100%;
    }

    h1 {
        display: none;
    }
}